
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
    <div class="panel-heading"><h3>Edit review</h3></div>
    <div class="panel-body">
        <%= simple_form_for([@book,@review]) do |f| %>
            <div id="raiting-form">
                <label> Raiting</label>
            </div>
            <%= f.input :comment ,class:'form-control'%>
            <%= f.button :submit ,class:'btn btn-primary'%>

        <% end %>
    </div>
    </div>
</div>

<script>
    $("#raiting-form").raty({
        path: "/assets/",
        scoreName:"review[raiting]",
        score:"<%= @review.raiting %>"
    });
</script>